.container {
    padding: 0rem 0;
}

.card {
    padding: 2rem;
    margin-bottom: 2rem;
}

.formSection {
    margin-bottom: 2rem;
}

.formSectionTitle {
    margin-bottom: 1rem;
    color: #3f51b5;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
}